<!-- Navigation & Logo-->
        <div class="mainmenu-wrapper">
	        <div class="container">
	        	<div class="menuextras">
					<div class="extras">
						<ul>
							<li class="shopping-cart-items"><i class="glyphicon glyphicon-shopping-cart icon-white"></i> <a href="page-shopping-cart.html"><b>0 items</b></a></li>
			        		<li><a href="page-login.html">Login</a></li>
			        	</ul>
					</div>
		        </div>
		        <nav id="mainmenu" class="mainmenu" ng-controller="MenuCtrl">
					<ul>
						<li class="logo-wrapper"><a href="index.html"><img src="img/mPurpose-logo.png" alt="Multipurpose Twitter Bootstrap Template"></a></li>
						<li>
							<a href="index.html">Home</a>
						</li>
						<li ng-repeat="category in categories" ng-class="{'has-submenu':category.categories.length,'active':isActived('/categories/{{category.id}}')}">
							<a href="#/categories/{{category.id}}">{{category.name}}</a>
							<div ng-if="category.categories.length" class="mainmenu-submenu">
								<div class="mainmenu-submenu-inner">
									<div>
										<h4>Homepage</h4>
										<ul>
											<li><a href="index.html">Homepage</a></li>
										</ul>
									</div>
									<div>
										<h4>Sub-categories</h4>
										<ul>
											<li ng-repeat="subcat in category.categories"><a href="#/categories/{{subcat.id}}">{{subcat.name}}</a></li>
										</ul>
									</div>
									<div>
										<h4>General Pages</h4>
										<ul>
											<li><a href="#">About Us</a></li>
											<li><a href="#">Contact Us</a></li>
											<li><a href="#">Frequently Asked Questions</a></li>
											<li><a href="#">Testimonials & Clients</a></li>
											<li><a href="#">Events</a></li>
											<li><a href="#">404 Page</a></li>
											<li><a href="#">Sitemap</a></li>
											<li><a href="#">Login</a></li>
											<li><a href="#">Register</a></li>
											<li><a href="#">Password Reset</a></li>
											<li><a href="#">Terms & Privacy</a></li>
											<li><a href="#">Coming Soon</a></li>
										</ul>
									</div>
								</div>
							</div>
						</li>
						<li class="hide">
							<a href="#">Features</a>
						</li>
						<li class="has-submenu hide">
							<a href="#">Pages</a>
							<div class="mainmenu-submenu">
								<div class="mainmenu-submenu-inner"> 
									<div>
										<h4>Homepage</h4>
										<ul>
											<li><a href="index.html">Homepage (Sample 1)</a></li>
											<li><a href="page-homepage-sample.html">Homepage (Sample 2)</a></li>
										</ul>
										<h4>Services & Pricing</h4>
										<ul>
											<li><a href="#">Services/Features (Rows)</a></li>
											<li><a href="#">Services/Features (3 Columns)</a></li>
											<li><a href="#">Services/Features (4 Columns)</a></li>
											<li><a href="#">Pricing Table</a></li>
										</ul>
										<h4>Team & Open Vacancies</h4>
										<ul>
											<li><a href="#">Our Team</a></li>
											<li><a href="#">Open Vacancies (List)</a></li>
											<li><a href="#">Open Vacancies (Job Details)</a></li>
										</ul>
									</div>
									<div>
										<h4>Our Work (Portfolio)</h4>
										<ul>
											<li><a href="#">Portfolio (2 Columns, Option 1)</a></li>
											<li><a href="#">Portfolio (2 Columns, Option 2)</a></li>
											<li><a href="#">Portfolio (3 Columns, Option 1)</a></li>
											<li><a href="#">Portfolio (3 Columns, Option 2)</a></li>
											<li><a href="#">Portfolio Item (Project) Description</a></li>
										</ul>
										<h4>General Pages</h4>
										<ul>
											<li><a href="page-about-us.html">About Us</a></li>
											<li><a href="page-contact-us.html">Contact Us</a></li>
											<li><a href="page-faq.html">Frequently Asked Questions</a></li>
											<li><a href="page-testimonials-clients.html">Testimonials & Clients</a></li>
											<li><a href="page-events.html">Events</a></li>
											<li><a href="page-404.html">404 Page</a></li>
											<li><a href="page-sitemap.html">Sitemap</a></li>
											<li><a href="page-login.html">Login</a></li>
											<li><a href="page-register.html">Register</a></li>
											<li><a href="page-password-reset.html">Password Reset</a></li>
											<li><a href="page-terms-privacy.html">Terms & Privacy</a></li>
											<li><a href="page-coming-soon.html">Coming Soon</a></li>
										</ul>
									</div>
									<div>
										<h4>eShop</h4>
										<ul>
											<li><a href="page-products-3-columns.html">Products listing (3 Columns)</a></li>
											<li><a href="page-products-4-columns.html">Products listing (4 Columns)</a></li>
											<li><a href="page-products-slider.html">Products Slider</a></li>
											<li><a href="page-product-details.html">Product Details</a></li>
											<li><a href="page-shopping-cart.html">Shopping Cart</a></li>
										</ul>
										<h4>Blog</h4>
										<ul>
											<li><a href="page-blog-posts.html">Blog Posts (List)</a></li>
											<li><a href="page-blog-post-right-sidebar.html">Blog Single Post (Right Sidebar)</a></li>
											<li><a href="page-blog-post-left-sidebar.html">Blog Single Post (Left Sidebar)</a></li>
											<li><a href="page-news.html">Latest & Featured News</a></li>
										</ul>
									</div>
								</div><!-- /mainmenu-submenu-inner -->
							</div><!-- /mainmenu-submenu -->
						</li>
						<li class="hide">
							<a href="credits.html">Credits</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>